<div>
  <h1 class="jumbotron">Lets play a word game!</h1>
  <h3>Start by entering a word, phrase, or sentence in the field below and press "Play".</h3><br>
  <form class="form-group">
    <input type="text" name="userWord" id="userWord" placeholder="Enter your text here:">
    <button class="btn btn-info" id="play" type="submit" name="submit">Play!</button>
  </form>
</div>
